.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.traffic-lights {
    background-color: rgb(93, 79, 79);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 6px;
    width: max-content;
}

.light {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}